body
{
  background-color: #ffefd5
}
h1
{
  color: 	#ff0000
}
h3
{
  color: #8b4513
}
hr
{
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-color: grey;
  width: 40px;
}
